.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  align-self: center;
  margin-left: 18px;
  background: url(../../../images/profile/btn-edit.svg) center center / 10px no-repeat;
  transition: all .2s linear;
}

.profile__button-edit:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background-size: 7.5px;
  }
}
