.profile__button-add {
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
  background: url(../../../images/profile/btn-add.svg) center center / 22px no-repeat;
}

.profile__button-add:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .profile__button-add {
    width: 282px;
    margin: 36px auto 0;
    background-size: 16px;
  }
}
